body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background-color: black;
    font-family: monospace;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
}

.playground, .player {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 150px;
    height: 200px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size:18px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #777;
}

#result {
    font-size: 20px;
    margin-top: 20px; 
}
