<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Game</title>
    <!--<link rel="icon" href="" type="image/x-icon">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Player 1 Area-->
    <div class="game-container" id="game-container">
        <div class="player" id="player1">
            <h2>Player 1</h2>
                <div class ="card-area">
                    <div class="card_stack" id="player1_stack"></div>
                    <p class="card-count">Cards left: <span id="player1-cards">26</span></p>
                </div>
        </div>

    <!-- Playground -->
        <div class="playground" id="playground">
            <div class="battle-area">
                <div class="battle-card" id="player1-battle-card"></div>
                <div class="vs-text">VS</div>
                <div class="battle-card" id="player2-battle-card"></div>
            </div>

            
            <div class="controls">
                <button id="draw" class="btn">Draw Cards</button>
                <button id="reset" class="btn">New Game</button>
            </div>
            <div id="result" class="game-log"></div>
        </div>

        
    <!-- Player2 Area-->
        <div class="player" id="player2">
            <h2>Player 2</h2>
            <div class="card-area">
                <div class="card_stack" id="player2_stack"></div>
                <p class="card-count">Cards left: <span id="player2-cards">26</span></p>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
